<form class="" action="/data" method="post">
  <div>
<label for="name"></label>
  <input type="text" class="form-control" id="name" name="animal[name]" placeholder="Name">
</div>
<div>
<label for="breed"></label>
<input type="text" class="form-control" id="breed" name="animal[breed]" placeholder="Breed">
</div>
<div>
<label for="dob"></label>
<input type="text" class="form-control" id="dateofbirth" name="animal[dateofbirth]" placeholder="DOB">
</div>
<div>
<label for="gender"></label>
<input type="text" class="form-control" id="gender" name="animal[gender]" placeholder="Gender">
</div>
<div>
<label for="family"></label>
<input type="text" class="form-control" id="family" name="animal[family]" placeholder="Family">
</div>
<div>
<label for="status"></label>
<input type="text" class="form-control" id="status" name="animal[status]" placeholder="Status">
</div>

<button type="submit">Add an Animal</button>
</form>
